* {
    --dark-blue:  #14578f;
    --light-blue: #326085;
    --color-gradient: linear-gradient(-45deg, var(--dark-blue), var(--light-blue), var(--dark-blue));

    --bg-light:    #333;
    --bg-medium:   #ddd;
    --bg-dark:     #ccc;
    --bg-darker:   #444;
    --form-white:  #222;
    --fg-white:    #ddd;
    --fg-grey:     #ddd;
    --fg-black:    #ccc;

    --shadow-color: #0004;
    --shadow-down:  0px  2px 2px var(--shadow-color);
    --shadow-up:    0px -2px 2px var(--shadow-color);
    --shadow-right: 2px  0px 2px var(--shadow-color);
    --shadow:       2px  2px 2px var(--shadow-color);

    --priority-low:    #0c3;
    --priority-medium: #db0;
    --priority-hight:  #e00;
}