<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut-icon" href="favicon.ico">
    </head>
    <body>
        {% include '_navigation.html' %}

        <div class="content">
            <img src="{{ url_for('static', filename='user_upload/default.png') }}" class="project-img">
            <h1>{{ project.title }}</h1>
        </div>
    </body>
</html>