<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut-icon" href="favicon.ico">
    </head>
    <body>
        {% include '_navigation.html' %}

        <div class="content">
            <div class="cards">
                {% for project in projects %}
                    <a href="/project/{{ project.id }}" class="project card">
                        <div class="project-label">
                            {{ project.title }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>