<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut-icon" href="favicon.ico">
    </head>
    <body>
        <div class="background">
            <div class="form-content">
                <h1>Account creation</h1>
                <form action="/signup" method="post">
                    <table>
                        <tr>
                            <td><label for="fname">First name:</label></td>
                            <td><input type="text" name="fname"></td>
                        </tr>
                        <tr>
                            <td><label for="lname">Last name:</label></td>
                            <td><input type="text" name="lname"></td>
                        </tr>
                        <tr>
                            <td><label for="email">Email:</label></td>
                            <td><input type="email" name="email"></td>
                        </tr>
                        <tr>
                            <td><label for="password">Password:</label></td>
                            <td><input type="password" name="password"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button name="submit" id="submit" onclick="signup()">Sign up</button>
                            </td>
                        </tr>
                    </table>
                </form>
                <p style="font-size: small; text-align: center;">Already have an account? Log in <a href="/">here</a>.</p>
            </div>
        </div>
    </body>
</html>